{% extends "base.html" %}
{% block content %}

    <form action="/bacc" method="post">
        <div class="form-group">
            <label for="id">Gerrit change id (like 677325)</label>
            <input type="text" inputmode="numeric" pattern="[1-9][0-9]*" placeholder="677325" id="id" name="id" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Get commands</button>
    </form>
{% endblock %}
